.root {
  background: #F5F1EB;
  padding: var(--space-8) 0 var(--space-6);
}

.top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-8);
  align-items: start;
  padding: 20px 0;
}

.top::before,
.top::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #DAD7D4;
}

.top::before {
  top: 0;
}

.top::after {
  bottom: 0;
}

.col {
  padding-right: var(--space-6);
}

.col+.col {
  padding-left: var(--space-6);
  border-left: 1px solid #66615E33;
  height: 100%;
}

.colCatalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-6);
}

.title {
  font-size: 12px;
  font-family: "TT Fors Trial", sans-serif;
  font-weight: 500;
  letter-spacing: var(--space-letter);
  text-transform: uppercase;
  color: var(--color-muted);
  margin-bottom: 10px;
}

.lists {
  display: flex;
  gap: 45px;
  align-items: start;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 8px;
}

.list li {
  line-height: 1;
}

.list a {
  font-size: 12px;
  font-family: "TT Fors Trial", sans-serif;
  font-weight: 500;
  line-height: 1;
  letter-spacing: var(--space-letter);
  text-transform: uppercase;
  color: var(--color-main);
  text-decoration: none;
}

.list a:hover {
  text-decoration: underline;
}

.colCompany {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.colHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colFoot {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-family: "TT Fors Trial", sans-serif;
  font-weight: 500;
  line-height: 1;
  letter-spacing: var(--space-letter);
  color: var(--color-main);
  font-size: 12px;
}

.tg {
  font-family: "TT Fors Trial", sans-serif;
  font-weight: 500;
  line-height: 1;
  letter-spacing: var(--space-letter);
  color: var(--color-main);
  font-size: 12px;
  text-transform: uppercase;
}

.toTop {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "TT Fors Trial", sans-serif;
  font-weight: 500;
  line-height: 1;
  letter-spacing: var(--space-letter);
  color: var(--color-main);
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.brand {
  padding: 20px 0;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "TT Fors Trial", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: var(--space-letter);
  color: var(--color-muted);
  font-size: 12px;
  padding: 20px 0 0;
  border-top: 1px solid #DAD7D4;
}

.policy {
  text-transform: uppercase;
}
