.root {
  background: #f5f1ec;
  padding: var(--space-8) 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-5);
  height: 100%;
}

.title {
  font-size: 20px;
  font-family: "TT Fors Trial", sans-serif;
  font-weight: 500;
  letter-spacing: var(--space-letter);
  line-height: 1;
  color: var(--color-main);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.desc {
  color: var(--color-muted);
  max-width: 80ch;
  line-height: 1.3;
  font-size: 12px;
  font-family: "TT Fors Trial", sans-serif;
  font-weight: 500;
  letter-spacing: var(--space-letter);
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  max-width: 520px;
}

.field {
  display: block;
}

.field input {
  width: 100%;
  padding: 10px 0 6px;
  border: 0;
  outline: none;
  background: transparent;
  color: rgba(54, 48, 46, 0.5);
  font-size: 16px;
  font-family: "TT Fors Trial", sans-serif;
  font-weight: 500;
  letter-spacing: var(--space-letter);
  text-transform: uppercase;
}

.underline {
  display: block;
  height: 1px;
  width: 100%;
  background: #DAD7D4;
}

.btn {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: var(--width-button);
  height: var(--heigth-button);
  padding: 10px;
  background: var(--color-main);
  color: #F5F1EB;
  border: 0;
  font: 500 12px "TT Fors Trial", sans-serif;
  letter-spacing: var(--space-letter);
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity .15s ease-in-out;
  line-height: 1;
}

.btn:hover {
  opacity: .92;
}

.right {
  position: relative;
  height: var(--heigth-newsletter);
  width: var(--width-newsletter);
}

.right :global(img) {
  object-fit: cover;
  object-position: center;
}
