.root {
  background: var(--color-bg-cart);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  position: relative;
  display: block;
  overflow: hidden;
  height: var(--heigth-collection);
  width: 100%;
}

.left :global(img) {
  object-fit: cover;
}

.leftBadge {
  position: absolute;
  left: var(--space-4);
  bottom: var(--space-4);
  background: var(--color-bg);
  padding: var(--space-3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--width-info-md);
  height: var(--heigth-info);
  color: var(--color-main);
  letter-spacing: var(--space-letter);
  font-family: "TT Fors Trial", sans-serif;
  font-weight: 500;
}

.leftTitle {
  font-size: var(--font-size-main);
  text-transform: uppercase;
}

.leftLink {
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid currentColor;
  width: max-content;
}

.rightCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--heigth-collection);
  gap: 12px;
}

.card {
  background: transparent;
  padding-bottom: 10px;
  width: 344px;
  min-width: 344px;
}

.media {
  position: relative;
  width: var(--width-product);
  height: var(--heigth-collection-sm);
  overflow: hidden;
}

.media :global(img) {
  object-fit: cover;
}

.badge {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  color: #FCFAF7;
  font-family: "TT Fors Trial", sans-serif;
  font-size: 12px;
  letter-spacing: var(--space-letter);
  font-weight: 500;
  text-transform: uppercase;
}

.like {
  position: absolute;
  background: transparent;
  color: #fff;
  top: 12px;
  z-index: 3;
  right: 15px;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.info {
  padding: 6px;
  font-size: var(--font-size-s);
  font-family: "TT Fors Trial", sans-serif;
  letter-spacing: var(--space-letter);
  font-weight: 500;
}

.title {
  margin: 0 0 4px;
  font-family: "TT Fors Trial", sans-serif;
  letter-spacing: var(--space-letter);
  font-size: var(--font-size-s);
  font-weight: 500;
  color: var(--color-main);
  text-transform: uppercase;
}

.prices {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.priceNow {
  color: var(--color-main);
}

.priceOld {
  color: var(--color-muted);
  text-decoration: line-through;
}

.arrow {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  outline: none;
  border: none;
  background: transparent;
  display: grid;
  place-items: center;
  line-height: 1;
  cursor: pointer;
}

.arrowLeft {
  left: 70px;
}

.arrowRight {
  right: 70px;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
