:root {
  --color-main: #453631;
  --color-bg: #FCFAF7;
  --color-bg-cart: #f5f1eb;
  --color-fg: #0e0e0e;
  --color-muted: #999592;
  --color-muted-op: #cac7c4;
  --accent: #1a1a1a;

  --font-main: "TT Fors Trial", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  --font-size-main: 16px;
  --font-size-s: 12px;

  --header-offset: 90px;
  --heigth-hero: 774px;
  --heigth-product: 460px;
  --heigth-info: 140px;
  --heigth-info-sm: 140px;
  --heigth-button: 50px;
  --heigth-collection: 808px;
  --heigth-collection-sm: 460px;
  --heigth-category: 600px;
  --heigth-lookbook: 460px;
  --heigth-newsletter: 400px;
  --heigth--qv: 72px;

  --width-info: 350px;
  --width-info-md: 340px;
  --width-info-sm: 268px;
  --width-product: 344px;
  --width-button: 212px;
  --width-category: 460px;
  --width-lookbook: 579px;
  --width-newsletter: 732px;

  --radius-s: 4px;
  --radius-m: 8px;

  --padding-main: 70px;

  --margin-main: 25px;

  --space-2: 8px;
  --space-3: 10px;
  --space-4: 20px;
  --space-6: 24px;
  --space-8: 32px;

  --space-letter: -0.03em;

  --container: 1440px;

  --bp-sm: 480px;
  --bp-md: 768px;
  --bp-lg: 1024px;
}
