.root {
  padding-top: var(--padding-main);
  padding-bottom: var(--padding-main);
  background: var(--color-bg);
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--margin-main);
  color: var(--color-main);
  font-family: "TT Fors Trial", sans-serif;
}

.title {
  font-size: var(--font-size-main);
  font-weight: 500;
  line-height: 1;
  letter-spacing: var(--space-letter);
  text-transform: uppercase;
}

.all {
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: var(--space-letter);
  text-transform: uppercase;
  border-bottom: 1px solid currentColor;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.dots {
  margin-top: 50px;
}
